@page "/account/forgot-password"
@attribute [AllowAnonymous]
@inject IStringLocalizer<ForgotPassword> L
@inject IStringLocalizer<SharedResource> LS

<EditForm Model="@_forgotPasswordRequest" OnValidSubmit="SubmitAsync">
	<MudCard Elevation="0">
		<MudCardHeader>
			<CardHeaderContent>
				<MudTooltip Text="Назад">
					<MudIconButton Icon="@Icons.Material.Filled.ArrowBack" Color="Color.Inherit" Edge="Edge.Start"
								   Link="/" />
				</MudTooltip>
				<div class="d-flex justify-center mt-4">
					<img src="text-book.png" Style="height:250px" />
					@*<img src="stupid-logo.png" Style="height:250px" />
						<video class="video-block__video" autoplay plays inline muted loop preload playsinline style="height: 250px; -webkit-mask-box-image: url('mask.svg'); mask-image: url('');">
						<source src="gigachad.mp4" type="video/mp4">
						</video>
					*@
				</div>
				<div class="edu-center-text">
					<MudText Typo="Typo.h4" GutterBottom="true" style="margin-bottom:5px">
						@L["Забыли пароль?"]
					</MudText>
					<MudText>@L["Мы поможем вам с восстановлением пароля."]</MudText>
				</div>
				<br />
			</CardHeaderContent>
		</MudCardHeader>
		<MudCardContent>
			<MudGrid>
				<DataAnnotationsValidator />
				<CustomValidation @ref="_customValidation" />
				<MudItem xs="12">
					<MudTextField T="string" Label="E-mail" Variant="Variant.Outlined"
								  @bind-Value="_forgotPasswordRequest.Email" For="@(() => _forgotPasswordRequest.Email)"
								  InputType="InputType.Email" Adornment="Adornment.End" />
				</MudItem>
			</MudGrid>
		</MudCardContent>
		<MudCardActions Class="pb-4 pl-4">
			<MudButton Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Filled.LockReset" ButtonType="ButtonType.Submit" Disabled="BusySubmitting" Class="ml-auto">
				@L["Сбросить пароль"]
			</MudButton>
		</MudCardActions>
	</MudCard>
</EditForm>